<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find moving_plataform_gazebo)/worlds/rescue.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="true"/>
    <!-- Delay before starting Gazebo -->
    <arg name="gazebo_delay" default="5.0"/> <!-- Delay in seconds -->
    <!-- PX4 SITL and vehicle spawn -->
    <!-- UAV0 -->
    <group ns="uav0">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="0"/>
        <arg name="fcu_url" default="udp://:14540@host.docker.internal:14580"/>
        <!-- PX4 SITL -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.1"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
        </include>
        <arg name="model" value="$(find moving_plataform_gazebo)/models/iris_downward_cam/model.sdf"/>
        <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" 
              args="-sdf -file $(arg model) -model cam$(arg ID) -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"
              launch-prefix="bash -c 'sleep 5; $0 $@'"/>

        <!-- Attach the camera to the drone -->
        <!--node name="attach_camera" pkg="moving_plataform_gazebo" type="attach_camera.sh" output="screen"
            launch-prefix="bash -c 'sleep 5;exec $0'"/-->
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
        
        <!--arg name="drone_model" default="iris0"/>
        <arg name="drone_link" default="base_link"/>
        <arg name="camera_model" default="cam0"/>
        <arg name="camera_link" default="camera_link"/>
        <node pkg="moving_plataform_gazebo" type="attach_camera.sh" name="attach_camera_node" output="screen" launch-prefix="bash" args="$(arg drone_model) $(arg drone_link) $(arg camera_model) $(arg camera_link)"/-->
        <node name="attach_camera" pkg="moving_plataform_gazebo" type="cam0.sh" output="screen"
            launch-prefix="bash -c 'exec $0'"/>
        
        
        <!--node name="attach_camera" pkg="gazebo_ros" type="spawn_model"
      args="-sdf -file $(find px4)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/models/c920/c920.sdf -model downward_cam
            -x 0 -y 0 -z -0.1
            -R 0 -P 1.5708 -Y 0
            -reference_frame iris0::base_link
            -robot_namespace iris0"
            launch-prefix="bash -c 'sleep 5; $0 $@'"/-->
    </group>

    <!-- Delay before starting Gazebo -->
    <node name="gazebo_delay" pkg="rostest" type="rostest" args="--delay $(arg gazebo_delay)">
        <param name="gazebo_delay" value="$(arg gazebo_delay)"/>
    </node>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
</launch>
