<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find moving_plataform_gazebo)/worlds/rescue.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="true"/>
    <gazebo>
        <plugin name="link_attacher_plugin" filename="libgazebo_ros_link_attacher.so"/>
    </gazebo>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
    <!-- UAV0 -->
    <group ns="uav0">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="0"/>
        <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.1"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
        </include>
        <!-- camera -->
        <arg name="model" value="$(find moving_plataform_gazebo)/models/iris_downward_cam/model.sdf"/>
        <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" 
              args="-sdf -file $(arg model) -model cam$(arg ID) -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"
              launch-prefix="bash -c 'sleep 5; $0 $@'"/>
        <node name="attach_camera" pkg="moving_plataform_gazebo" type="cam0.sh" output="screen"
            launch-prefix="bash -c 'exec $0'"/>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>

    </group>
    <!-- UAV1 -->
    <group ns="uav1">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="1"/>
        <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="5"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.1"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
        </include>
        <!-- camera -->
        <arg name="model" value="$(find moving_plataform_gazebo)/models/iris_downward_cam/model.sdf"/>
        <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" 
              args="-sdf -file $(arg model) -model cam$(arg ID) -x 5 -y 0 -z 0 -R 0 -P 0 -Y 0"
              launch-prefix="bash -c 'sleep 5; $0 $@'"/>
        <node name="attach_camera" pkg="moving_plataform_gazebo" type="cam1.sh" output="screen"
            launch-prefix="bash -c 'exec $0'"/>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
    <!-- UAV2 -->
    <group ns="uav2">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="2"/>
        <arg name="fcu_url" default="udp://:14542@localhost:14582"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="-5"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.1"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="14562"/>
            <arg name="mavlink_tcp_port" value="4562"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
        </include>
        <!-- camera -->
        <arg name="model" value="$(find moving_plataform_gazebo)/models/iris_downward_cam/model.sdf"/>
        <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" 
              args="-sdf -file $(arg model) -model cam$(arg ID) -x -5 -y 0 -z 0 -R 0 -P 0 -Y 0"
              launch-prefix="bash -c 'sleep 5; $0 $@'"/>
        <node name="attach_camera" pkg="moving_plataform_gazebo" type="cam2.sh" output="screen"
            launch-prefix="bash -c 'exec $0'"/>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
    <!-- rosbridge -->
        <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen" />
        <!-- boustrophedon_planner_server -->
        <node pkg="boustrophedon_server" type="boustrophedon_planner_server" name="boustrophedon_server">
            <param name="repeat_boundary" value="false"/>
            <param name="outline_clockwise" value="true"/>
            <param name="skip_outlines" value="false"/>
            <param name="outline_layer_count" value="0"/>
            <param name="stripe_separation" value="1.9"/>
            <param name="intermediary_separation" value="0.0"/>
            <param name="stripe_angle" value="0.0"/>
            <param name="enable_stripe_angle_orientation" value="true" />
            <param name="travel_along_boundary" value="false" />
            <param name="allow_points_outside_boundary" value="true" />
            <!-- Note: if enabling half-y turns, must have an outline_layer_count >= 1 -->
            <param name="enable_half_y_turns" value="false" />
            <param name="points_per_turn" value="15" />
            <param name="turn_start_offset" value="0.5" />
            <param name="publish_polygons" value="true"/>
            <param name="publish_path_points" value="true"/>
        </node>
</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->
